<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Synolloos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("style", false)
</head>

<body>
    <nav class="stroke">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Films">Films</a></li>
            <li><a href="/Overons">About</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Zoek..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>

    <div class="box">
        <main role="main" @*class="pb-3"*@>
            @RenderBody()
        </main>
    </div>

    <footer>
        <section class="ft-main">
            <div class="ft-main-item">
                <h2 class="ft-title">Contact</h2>
                <ul>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>