<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Synolloos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a class="active" href="/films">Films</a>
        <a class="active" href="/taal">Taal</a>
        <a class="active" href="/overons">Over ons</a>
        <a href="/contact">Contact</a>
      
    </div>
    @RenderBody()
</body>
</html>
