@using ProjectThijsChris.Database
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Alle namen!</h1>
        @foreach (Film v in Model)
        {
            <p>@v.Beschrijving</p>
            <a href="/film/@v.Id">lees meer</a>
        }
    </div>

    <div class="topnav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>

    <div class="content">
        <h2>CSS Template</h2>
        <p>A topnav, content and a footer.</p>
    </div>

