@{
    ViewData["Title"] = "Over ons";
}

<div class="about">
    <div class="overonstext">
        <div class="stukje">
            <h1 id="titel">
                Wie zijn wij
            </h1>
            <p>
                Synolloos is een nationaal bekende bioscoop. Met onze prachtige vestiging liggend in Voorburg, worden er elke dag op volle toeren films gedraaid.
            </p>
        </div>
        <div class="stukje">
            <h1 id="titel">
                Wat doen wij?
            </h1>
            <p>
                Op wekelijkse basis voorzien wij onze bezoekers van de allernieuwste films. Wij hebben onze eerste grote vestiging op dit moment staan bij <a href="https://goo.gl/maps/g9M2hE9frqc9RNdR8" target="_blank">Sint-Maartenscollege, Voorburg</a> en zijn van plan in de toekomst nog verder uit te breiden.
            </p>
        </div>
        <div class="stukje">
            <h1 id="titel">
                Hoe zijn wij te bereiken?
            </h1>
            <p>
                Ook zijn wij dagelijks bereikbaar via de mail en telefonisch (te vinden bij contact) waar u met al uw vragen, technische storingen en opmerkingen terecht kan.
            </p>
        </div>
    </div>
</div>

